body{

margin:0;

background:transparent;

overflow:hidden;

font-family:Arial;

}

#overlay{

position:absolute;

left:50%;

top:50%;

transform:translate(-50%,-50%);

width:950px;

height:520px;

display:flex;

background:#242526;

border-radius:30px;

overflow:hidden;

box-shadow:0 15px 60px rgba(0,0,0,.5);

}

#telegram{

width:58%;

background:#202225;

display:flex;

flex-direction:column;

}

.header{

padding:18px;

background:#2c2f33;

font-size:22px;

font-weight:bold;

}

#post{

padding:25px;

font-size:22px;

line-height:1.5;

overflow:hidden;

height:100%;

}

#qrPanel{

flex:1;

background:#ff4dd2;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

#qr{

background:white;

padding:20px;

border-radius:25px;

}

#channel{

margin-top:20px;

background:#333;

padding:10px 20px;

border-radius:20px;

color:white;

font-size:24px;

font-weight:bold;

}
